 ###################################################################
# - This is a config file for the program pkphotoz.                 #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - Any other simbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


# Cycle choice                                 # Program is ran sequentially from START_AT to END_AT.
START_AT:   2                          	       # First process to execute.
END_AT:     5                          	       # Last process to execute.


# Cosmological Parameters
HUBBLE:     0.7				       # Hubble constant in units of H100 (100km/s/Mpc), h.
OMEGA_mh2:  0.1470                     	       # Total matter (DM + barions + massive neutrinos) density parameter times h^2. 
OMEGA_bh2:  0.0147		       	       # Barion density parameter times h^2.
OMEGA_Lh2:  0.3430                     	       # Dark energy density parameter times h^2.
W_DE:      -1.0000		       	       # Dark energy equation of state.
OMEGA_nuh2: 0.0001                     	       # Massive neutrino density parameter times h^2.
N_nu:       1			       	       # Number of massive neutrino species.
PK_DELTAH:  5.5e-5                     	       # Power spectrum normalization.
PK_NS:      0.923		       	       # Power spectrum spectral index.
PK_Z:       0.0			       	       # Redshift for power spectrum calculation.


# (1) Source power spectrum output             # Not needed by block (process) 2.
SRC_PK_OUT:     0                              # 0=No output.      1=Screen.       File name.
SRC_PK_RANGE:   0.001  10.0            	       # Output P(k) in this range (Mpc^-1).
SRC_PK_RES:     0.001                  	       # k output resolution (Mpc^-1).


# (2) K-modes computation
SRC_KMODES_OUT:   0                            # 0=No output.      1=Screen.       File name.    
SRC_KMODES_SEED:  130143              	       # Seed for random numbers used to create k-modes.
                #  kx     ky     kz   #
SRC_KMODES_KMAX:  0.100  0.100  0.100          # k-modes will be computed from -SRC_KMODES_KMAX to SRC_KMODES_KMAX, approx.
SRC_KMODES_dK:    0.002  0.002  0.002          # Gap between k-modes (Mpc^-1).
SRC_KMODES_HOLD:  KMAX	 		       # Keep fixed when optimizing Nk for FFTW. It can be dK or KMAX. 


# (3) Real space contrast density computation
SRC_DENSITY_OUT:  0                            # 0=No output.      1=Screen.       File name.
SKIP_SAMPLING:    0                            # 0=Run program normally.           1=Skip blocks 4, 5 and 6.

# (4) Galaxy density field sampling
SMP_SEED:         1004                         # Seed for random numbers used to sample density field (create galaxies).
SMP_BIAS:         1.0                          # Bias 'b', assuming delta_galaxies(kk) = b*delta_matter(kk).
SMP_N:		  1000000                      # Size of sample (amount of galaxies).
SMP_OUT:          0		       	       # 0=No output.      1=Screen.       File name.


# (5) Catalog manipulation
CATALOG_IN:       0                            # 0=From block 4 above.                      File name.
CATALOGTYPE: 	  2                            # 0=Unknown.        1=RA,DECL,Z.    	    2=X,Y,Z.
SORTBY:      	  0                            # 0=Do not sort.    1=Z.            	    2=X.
TARGETCOORD: 	  0                            # 0=Do not change.  1=RA,DECL,Z.	            2=X,Y,Z.
CATALOG_CROP:     0			       # 0=Do not crop.	   1=Before coord. change.  2=After coord. change.
CROP_MIN:         -3110 -3110 -3110            # Min coordinate value (in the order presented above) to make through the cuts. 
CROP_MAX:	   3125  3125  3125	       # Max coordinate value (in the order presented above) to make through the cuts. 
OUTCATALOG:  	  simulated_catalog02.dat      # 0=No output.      1=Screen.       	    File name.      


# (6) Real space grid parameters
#            x     y     z
GRIDSIZE:    31.42 31.42 31.42          # Mpc
GRIDWINDOW:  1                          #                   1=NGP (top-hat) 2=CIC (triangular) 3=TSC
OUTGRID:     density_fromsim.dat        # 0=No output.      1=Screen.       File name.


# (7) Fourier space grid

OUTKMODES: kmode_nosamp2.dat              # 0=No output.      1=Screen.       File name.


# (8) Power spectrum estimation


# (9) Power spectrum fitting