 ###################################################################
# - This is a config file for the program FLASK.                    #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - In case of a string with spaces, nothing can appear after it.   #
# - Another input type is the full line as a string.                #
# - Any other symbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


### Simulation basics ###

DIST:              LOGNORMAL		            # Field type, either LOGNORMAL, GAUSSIAN or HOMOGENEOUS (no structure).
RNDSEED:           401       	       	            # Seed for random number generator.
POISSON:	   1				    # 1-Poisson sample galaxy fields; 0-Do not sample (use expected number).


### Cosmology ###

OMEGA_m:           0.3067			    # Matter (DM+Baryon) density parameter, only needed if SELEC_TYPE=1or3 or DENS2KAPPA=1.
OMEGA_L:    	   0.6933			    # Dark Energy (DE) density parameter, only needed if SELEC_TYPE=1or3 or DENS2KAPPA=1.
W_de:      	  -1.0				    # DE equation of state (constant), only needed if SELEC_TYPE=1or3 or DENS2KAPPA=1.
ELLIP_SIGMA:	   0.11			    	    # Std.dev. of each component of sources ellipticities. Set to <0 for circular sources. 

GALDENSITY:        30				    # Comoving galaxy density in (h^-1 Mpc)^-3, only relevant if SELEC_TYPE = 1 or 3.


### Input data ###

FIELDS_INFO:       data/example-info.dat	    # Means, shifts and z range of fields. Shift column is only relevant for LOGNORMAL.

CHOL_IN_PREFIX:    0				    # Mixing matrices prefix (skip Cl trafo and Cholesky decomp., 0 to do it).
CL_PREFIX:         data/exampleCl-                  # Prefix of the angular power spectrums Cij(l) to use as input.
ALLOW_MISS_CL:	   0				    # 0 - Return error if required Cl is missing; 1 - Set missing Cls to zero.

SCALE_CLS:	   1.0				    # Constant re-scaling factor for all Cls. 
WINFUNC_SIGMA:     -1				    # Std. Dev. (arcmin) of field Gaussian smoothing, applied to C(l)s, set <0 for none.
APPLY_PIXWIN:      1				    # Apply (1) or not (0) Healpix pixel window function to C(l)s.
SUPPRESS_L:        -1000		            # l scale for generic exponential suppression of C(l), set <0 for none.
SUP_INDEX:         -6			            # Index for the exponential suppression, exp(-(l/SUPPRESS_L)^SUP_INDEX), <0 for none.


### Survey selection function ###

SELEC_SEPARABLE:   1				    # Can the selection functions be separated into radial and angular parts, y(1)/n(0)?
SELEC_PREFIX:	   data/circle-ang-sel-512.fits	    # Fields selection functions FITS files prefix; one file if separable; 0 for full sky.
SELEC_Z_PREFIX:	   data/example-z-selection-	    # Prefix for radial selection functions f(z), one for each galaxy field.
SELEC_SCALE:	   0.05				    # Overall factor to be applied to selection function (1 for no effect).
SELEC_TYPE:	   0 				    # 0 - d_gal/dz/arcmin2; 1 - fraction of gals; +2 - angular part for bookkeeping only. 

STARMASK:	   data/StarMask-512.fits	    # Mask over bright stars (FITS file, write 0 for none).


### Multipole calculations, etc. ### 

EXTRAP_DIPOLE:	   1				    # If dipole not specified by input Cls; 0 - set dipoles to zero. 1 - extrapolate.
LRANGE:		   1 1000                           # Minimum and maximum l for which covariance matrices will be generated.
SHEAR_LMAX:	   500				    # Max. l for kappa->shear computations, should be <=NSIDE, only affects lognormal sims.
NSIDE:             512				    # Healpix Nside (Npixels = 12*Nside^2).
USE_HEALPIX_WGTS:  1				    # 0 - Use equal (1.0) weights in map2alm; 1 - Use Healpix weights in map2alm.


### Covariance matrix regularization ###

BADCORR_FRAC:      0				    # Fraction added to variances if aux. Cov. matrices lead to |correlation|>1.
REGULARIZE_METHOD: 2				    # Correcting Cov. matrices for pos. def. 0-None; 1-Min. chi-sq; 2-Sampler with steps.
NEW_EVAL:          1e-18			    # Eigenvalue to replace negative ones (only for method 1).
REGULARIZE_STEP:   0.0001			    # Step size for successive approximations to pos. def.ness (only for method 2).
REG_MAXSTEPS:      1000				    # Maximum number of iterations (only for method 2).
ADD_FRAC:	   1e-10		    	    # If Eigenvalues>0 & Cholesky fail, add this*(smallest diagonal element) to diagonal. 

 
### Other precision parameters ###

ZSEARCH_TOL: 0.0001				    # Precision for finding radial selection function maximum location.


### Output ###

EXIT_AT:	   0				    # Write name of last output to be created (program will stop there). 0 for full run.
FITS2TGA:          0				    # 0 - Only FITS; 1 - FITS and TGA; 2 - Only TGA.
LRANGE_OUT:        2 500			    # Inclusive l interval for alm and Cls output. Irrelevant if there is no such output.
MMAX_OUT:	   -1 				    # Truncate m for alm output at this value. Set it to <0 for m<=l.
ANGULAR_COORD:     2				    # 0 - ThetaPhi in radians 1 - ThetaPhi in degrees 2 - RADEC in degrees.
DENS2KAPPA:        0				    # Integrate (1) or not (0) density to obtain convergence.

FLIST_OUT:         0 ./field-list.dat		    # File to write the order of fields in covariance matrices. Write 0 for no output.
SMOOTH_CL_PREFIX:  example/pixwinCl-                # Prefix for C(l)s smoothed by Gaussian window function with WINFUNC_SIGMA.
XIOUT_PREFIX:      example/Xi-			    # Prefix of output files for the correlation functions. Write 0 for no output.
GXIOUT_PREFIX:     0 example/gXi-		    # Prefix of the auxiliary gaussian correlation functions. Write 0 for no output.
GCLOUT_PREFIX:     0 example/gCl-		    # Prefix of the auxiliary gaussian C(l)s. Write 0 for no output.
COVL_PREFIX:	   0 example/covl-	  	    # Prefix for auxiliary covariance matrices for each l.
REG_COVL_PREFIX:   0 example/regl-    		    # Output prefix for the regularized aux. cov. matrices.
REG_CL_PREFIX:     example/regCl-		    # Prefix for lognormal Cls, regularized.
CHOLESKY_PREFIX:   0 example/chol-   		    # Prefix for the GSL triangular matrices derived from Cholesky decomposition. 
AUXALM_OUT:        0 example/aux-alm.dat	    # File output for auxiliary alm's.  Write 0 for no output.
RECOVAUXCLS_OUT:   0 example/recov-gCl.dat	    # Cls estimated from auxiliary alm's. Write 0 for no output.
AUXMAP_OUT:        0 example/aux-map.dat	    # Text file output for pixel values before exponentiating or adding mean.
DENS2KAPPA_STAT:   0 				    # Statistics of integrated densities, 0 - Ignore; 1 - Print to screen; or <filename>.
MAP_OUT:           example/map.dat		    # Text file output of pixel coordinates and field values, after exponentiation.
MAPFITS_PREFIX:	   example/map-			    # Prefix for the map .fits files. Write 0 for no output.   
RECOVALM_OUT:      0 example/recov-alm.dat	    # File output for recovered alm's from MAP_OUT. Write 0 for no output.
RECOVCLS_OUT:      example/recovCls.dat		    # File output for Cl's calculated from the recovered alm's. Write 0 for no output.
SHEAR_ALM_PREFIX:  0 example/shear-Elm-		    # Prefix for shear (E-mode) alm's output, calculated from convergence.
SHEAR_FITS_PREFIX: 0 example/kappa-gamma-	    # Prefix for lensing map (kappa, gamma1, gamma2) FITS files.
SHEAR_MAP_OUT:     example/shearmap.dat	    	    # File output of shear as a TEXT table.
MAPWER_OUT:        example/poisson-map.dat	    # Text file output of pixel coordinates and field values, after Poisson noise.
MAPWERFITS_PREFIX: example/poisson-map-		    # Prefix for the map .fits files. Write 0 for no output.   
CATALOG_OUT:       example/catalog.dat	    	    # Sampled galaxy catalog w/ errors (possible extensions are .dat, .fits, .fits.gz).


# Catalog columns, options are > theta phi z galtype kappa gamma1 gamma2 ellip1 ellip2 pixel maskbit
CATALOG_COLS: phi theta z kappa gamma1 gamma2 ellip1 ellip2
