 ###################################################################
# - This is a config file for the program corrlnfields.             #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - Any other simbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  

RNDSEED:    1

COV_MATRIX: ../data/covmatrix.dat
