 ###################################################################
# - This is a config file for the program corrlnfields.             #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - Any other simbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


### Configuration for the gencovl routine ###

CL_PREFIX:     ../data/C                       # Prefix of the angular power spectrums Cij(l) to use.
COVOUT_PREFIX: ../data/cov-lls/cov-ll	       # Prefix for the covariance matrices between fields with same l.
FLIST_OUT:     0 ../data/cov-fields.dat	       # File to write the order of fields in covariance matrices. Write 0 for no output.
LMAX:          1000			       # Maximum l for which covariance matrices will be generated.

SUPPRESS_L:    8000			       # l scale for exponential suppression of C(l) (to avoid oscillations in Xi).
SUP_INDEX:     6			       # Index for the exponential suppression.
XIOUT_PREFIX:  0 ../data/Xi		       # Prefix of output files for the correlation functions. Write 0 for no output.
GXIOUT_PREFIX: 0 ../data/gXi                   # Prefix of the auxiliary gaussian correlation functions. Write 0 for no output.
GCLOUT_PREFIX: 0 ../data/gC                      # Prefix of the auxiliary gaussian C(l)s. Write 0 for no output.


### Configuration for the corrlnfields routine ### 

RNDSEED:        2     	  	       	       # Seed for random numbers.
DIST:           LOGNORMAL		       # Either LOGNORMAL or GAUSSIAN.

FLIST_IN:       ../data/cov-fields.dat	       # File containing the order of fields in covariance matrices.
COV_PREFIX:     ../data/cov-lls/cov-ll	       # Cov. matrices between fields of fixed l.
MEANS_SHIFTS:   ../data/field-z-mean-shift.dat # Means and shifts of fields. Shift column is irrelevant for GAUSSIAN.

GCOVOUT_PREFIX: 0			       # Gaussian covariance matrix. For no output, write 0. Ignored if DIST is GAUSSIAN.
NM:             1000			       # Number of m's used to generate alm's. Write an int<0 for -l<=m<=l. 
SAMPLE_OUT:     ../data/alm.dat		       # File where to write the alm's.
