 ###################################################################
# - This is a config file for the program corrlnfields.             #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - Any other simbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


### Simulation basics ###

DIST:            LOGNORMAL		         # Either LOGNORMAL or GAUSSIAN.
RNDSEED:         4     	  	       	         # Seed for random numbers.

### Input data ###

CL_PREFIX:       ../data/Sreef                   # Prefix of the angular power spectrums Cij(l) to use.
MEANS_SHIFTS:    ../data/Sree-mean-shift.dat     # Means and shifts of fields. Shift column is irrelevant for GAUSSIAN.
FLIST_IN:        ../data/Sree-cov-fields.dat	 # File containing the order of fields in covariance matrices.

### Angular moment calculations ### 

SUPPRESS_L:      350			         # l scale for exponential suppression of C(l) (to avoid oscillations in Xi).
SUP_INDEX:       6			         # Index for the exponential suppression.
LMIN:            2                               # Minimum l for which covariance matrices will be generated.
LMAX:            30			         # Maximum l for which covariance matrices will be generated.
NSIDE:           128				 # Healpix Nside (Npixels = 12*Nside^2).

### Output ###

FLIST_OUT:       0 ../data/Sree-cov-fields.dat   # File to write the order of fields in covariance matrices. Write 0 for no output.
XIOUT_PREFIX:    0 ../data/Sree-Xi               # Prefix of output files for the correlation functions. Write 0 for no output.
GXIOUT_PREFIX:   0 ../data/Sree-gXi              # Prefix of the auxiliary gaussian correlation functions. Write 0 for no output.
GCLOUT_PREFIX:   0 ../data/Sree-gC               # Prefix of the auxiliary gaussian C(l)s. Write 0 for no output.
CHOLESKY_PREFIX: 0 ../data/cholesky/Sree-Chol-   # Prefix for the GSL triangular matrices derived from Cholesky decomposition. 
GALM_OUT:        0 ../data/Sree-alm-healpix.dat    # File where to write the alm's.
CATALOG_OUT:     0 ../data/Sree-catalog-gaussian.dat	   # File to write a table of coordinates and field values.
LNALM_OUT:       0 ../data/Sree-gaussian-recov-alm.dat                                  