 ###################################################################
# - This is a config file for the program corrlnfields.             #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - Any other simbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


### Simulation basics ###

DIST:              GAUSSIAN		            # Either LOGNORMAL or GAUSSIAN.
RNDSEED:           4       	       	            # Seed for random numbers.
POISSON:	   1				    # 1-Poisson sample galaxy fields; 0-Do not sample (use expected number).

### Cosmology ###

OMEGA_m:           0.3				    # Matter (DM+Baryons) density parameter.
OMEGA_L:    	   0.7				    # Dark Energy density parameter.
W_de:      	  -1.0				    # Dark Energy equation of state.
GALDENSITY:        30				    # 3D comoving number density of galaxies in (h^-1 Mpc)^-3.
ELLIP_SIGMA:	   0.004			    # Sources ellipticity Q and U std. dev. For circular sources, set to <0. 

### Input data ###

CL_PREFIX:         ./ClIn/Cl-	                    # Prefix of the angular power spectrums Cij(l) to use.
CHOL_IN_PREFIX:    0 ../tests/test/cholesky/chol-   # Mixing matrices prefix (skip Cl trafo and Cholesky decomp., 0 to do it).
FIELDS_INFO:       ./fields-info.dat		    # Means and shifts of fields. Shift column is irrelevant for GAUSSIAN.
SELEC_PREFIX:	   ./Euclid_footprint_512.fits	    # FITS files prefix containing each field selection function (just one if separable).
SELEC_TYPE:	   DENSITY			    # Sel. func. is (DENSITY) observed mean density; (FRACTION) fraction of galaxies.
SELEC_SEPARABLE:   1				    # Can the selection functions be separated into radial and angular parts?
SELEC_Z_PREFIX:	   ./euclid_1Mgal_zSel-    	    # Prefix for radial selection functions f(z), one for each galaxy field.

### Angular moment calculations ### 

EXTRAP_DIPOLE:	   1				    # If dipole not specified by input Cls; 0 - set dipoles to zero. 1 - extrapolate.
SUPPRESS_L:        6500			            # l scale for exponential suppression of C(l) (to avoid oscillations in Xi).
SUP_INDEX:         6			            # Index for the exponential suppression.
LMIN:              2				    # Minimum l for which covariance matrices will be generated.
LMAX:              3100			            # Maximum l for which covariance matrices will be generated.
NSIDE:             512				    # Healpix Nside (Npixels = 12*Nside^2).
REGULARIZE_METHOD: 2				    # Correcting Cov. matrices for pos. def. 0-None; 1-Min. chi-sq; 2-Sampler with steps.
NEW_EVAL:          1e-18			    # Eigenvalue to replace negative ones (only for method 1).
REGULARIZE_STEP:   0.001			    # Step size for successive approximations to pos. def.ness (only for method 2).
REG_MAXSTEPS:      1000				    # Maximum number of iterations for method 2.

### Output ###

EXIT_AT:	   CATALOG_OUT		    # Write name of last output to be created (program will stop there). 0 for full run.
FITS2TGA:          2				    # 0 - Only FITS; 1 - FITS and TGA; 2 - Only TGA.
LRANGE_OUT:        10 50			    # Inclusive l interval for alm output. Irrelevant if there is no alm output.
MMAX_OUT:	   10 				    # Truncate m for alm output at this value. Set it to <0 for m<=l.
FLIST_OUT:         0 ./out/field-list.dat	    # File to write the order of fields in covariance matrices. Write 0 for no output.
XIOUT_PREFIX:      0 ./Xi/Xi-			    # Prefix of output files for the correlation functions. Write 0 for no output.
GXIOUT_PREFIX:     0 ./gXi-			    # Prefix of the auxiliary gaussian correlation functions. Write 0 for no output.
GCLOUT_PREFIX:     0 ./gCl-			    # Prefix of the auxiliary gaussian C(l)s. Write 0 for no output.
COVL_PREFIX:	   0 ./covl/covl-	  	    # Prefix for auxiliary covariance matrices for each l.
REG_COVL_PREFIX:   0 ./regl-	    		    # Output prefix for the regularized aux. cov. matrices.
REG_CL_PREFIX:     0 ./regCl/regCl-		    # Prefix for lognormal Cls, regularized.
CHOLESKY_PREFIX:   0 ./cholesky/Chol-	    	    # Prefix for the GSL triangular matrices derived from Cholesky decomposition. 
AUXALM_OUT:        0 ./alm-aux.dat		    # File output for auxiliary alm's.  Write 0 for no output.
AUXMAP_OUT:        0 ./out/map-aux.dat		    # File output for pixel values before exponentiating or adding mean.
MAP_OUT:           0 ./map-gaussian.dat			    # File output for a table of coordinates and field values, after operation.
MAPFITS_PREFIX:	   0 ./map-			    # Prefix for the map .fits files. Write 0 for no output.   
RECOVALM_OUT:      0 ./alm-recov.dat	    	    # File output for recovered alm's from MAP_OUT. Write 0 for no output.
SHEAR_ALM_PREFIX:  0 shear-alm-			    # Prefix for shear (E-mode) alm's output, calculated from convergence.
SHEAR_FITS_PREFIX: 0 lensing-			    # Prefix for lensing (kappa, gamma1, gamma2) FITS files.
SHEAR_MAP_OUT:     0 shear.dat			    # File output of shear as a TEXT table.
CATALOG_OUT:       ./gaussian_euclid_par.dat	    # Catalog of galaxies and shear sampled from MAP.
